In [ ]:
#hiddencell
%pip install statsmodels

from pbl_tools import *

import os 
file_path = 'submission.csv'
if os.path.exists(file_path): 
    os.remove(file_path)

# 스테이지 8

# 1. pandas를 이용해 csv 파일 읽어오기
[문제 1]  
앞에서 배운 내용을 바탕으로 빈칸을 채워 train.csv, test.csv, sample_submission.csv 를 읽어와 봅시다.

In [ ]:
import ___ as pd

train = pd.___('train.csv')
test = pd.___('test.csv')
submission = pd.___('sample_submission.csv')

In [ ]:
#checkcode
ensure_vals(globals(), 'train', 'test', 'submission')
@check_safety
def check(
          user_answer_train=train,
          user_answer_test=test, 
          user_answer_submission=submission
          ):
    
    c_point0 = hasattr(user_answer_train, 'tail')
    c_point1 = hasattr(user_answer_test, 'tail')
    c_point2 = hasattr(user_answer_submission, 'tail')

    if c_point0 and c_point1 and c_point2 :
        return True
    else:
        return False

check()

True

# 2. 결측치를 평균값으로 채운 train_fill 데이터셋 생성하기
[문제 2]  
train 데이터셋에 있는 결측값을 평균값(mean)으로 채우고, 이를 train_fill_mean 변수에 저장해 보세요.   
아래 빈칸을 채워 주세요.

In [ ]:
train_mean = train['dir_prev_bfnum'].___()

train_fill = train.fillna(___)  
test_fill = test.fillna(___)
train_fill

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,0.00,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,0.00,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,0.00,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,0.00,0,363,5,7166532

In [ ]:
#checkcode
ensure_vals(globals(),'train_fill')
@check_safety
def check(user_answer=_):
    c_point0 = _.shape == (600,12)
    if c_point0:
        return True
    else:
        return False
check()

True

# 3. 영화 관객 수 모델 학습
  
[문제 3]     
모델링을 하기에 앞서, 종속변수와 독립변수를 설정해 주세요.  
회귀모델을 정의하고 학습해 보세요.    
아래 빈칸을 채워 주세요.

In [ ]:
formula = """
___ ~ (___) + (___) + (___) + (___) + (___)
"""

___ statsmodels.api ___ sm

model = sm.OLS.from_formula(___, data = ___) # 모델 정의
model = model.___() # 모델 학습
___ = model.___(___) # 모델 예측

In [ ]:
#checkcode
ensure_vals(globals(), 'model')
@check_safety
def check(user_answer=model):
    c_point0 = hasattr(user_answer, 'summary')

    if c_point0:
        return True
    else:
        return False

check()

True

# 4. 예측된 영화 관객 수를 submission 파일에 추가하기  
[문제 4]  
예측된 영화 관객 수를 submission 데이터프레임(DataFrame)의 box_off_num 열(column)에 저장해 보세요.  
아래 빈칸을 채워 주세요.

In [ ]:
___['___'] = ___

submission.head()

In [ ]:
#checkcode
ensure_vals(globals(),'submission')
@check_safety
def check(user_answer=submission):
    c_point0 = (user_answer['box_off_num'].loc[0] == predict[0])
    if c_point0:
        return True
    else:
        return False
check()

# 5. 데이터프레임(DataFrame)을 CSV 파일로 저장하기
[문제 5]  
파일을 제출하기 위해서는 저장을 해야 합니다.  
submission 데이터프레임을 `submission.csv`라는 파일로 저장해 보세요.    
아래 빈칸을 채워주세요.

In [ ]:
# 매개변수는 수정하지 말아주세요.
submission.___('submission.csv', index=False, quoting=2, encoding="utf-8-sig", na_rep=0, float_format='%.6f')

In [ ]:
#checkcode
ensure_vals(globals(),'submission','test')
@check_safety
def check():
    check_submission = pd.read_csv('submission.csv')
    
    if len(check_submission) == len(test):
        return True
    else:
        return False
    
check()