In [ ]:
#hiddencell
from pbl_tools import *

# 스테이지 3

# 1. pandas를 이용해 csv 파일 읽어오기
[문제 1]    
Pandas 라이브러리(library)를 가져와보세요.     
그리고 train.csv, test.csv, sample_submission.csv   파일을 각각 train, test, submission 변수로 읽어오세요.      
아래 빈칸을 채워주세요.

In [ ]:
import ___ as pd

train = pd.___('train.csv')
test = pd.___('test.csv')
submission = pd.___('sample_submission.csv')

In [ ]:
#checkcode
ensure_vals(globals(), 'train', 'test', 'submission')
@check_safety
def check(user_answer_train=train,
          user_answer_test=test, 
          user_answer_submission=submission):
    
    c_point0 = hasattr(user_answer_train, 'tail')
    c_point1 = hasattr(user_answer_test, 'tail')
    c_point2 = hasattr(user_answer_submission, 'tail')

    if c_point0 and c_point1 and c_point2 :
        return True
    else:
        return False

check()

True

# 2. train 데이터의 피처(Feature) 목록 확인하기

[문제 2]  
`columns` 함수를 이용해서 pandas 데이터프레임의 열(column) 이름을 반환해 보세요.

In [ ]:
train.___

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor', 'box_off_num'],
      dtype='object')

In [ ]:
#checkcode
ensure_vals(globals(),'train')
@check_safety
def check(user_answer=_, user_train=train):

    c_point0 = (len(user_answer) == 12)

    if c_point0 :
        return True
    else:
        return False
check()

# 3. test 데이터의 피처(Feature) 목록 확인하기

[문제 3]  
방금 전 train 데이터셋에는 12개의 피처(feature)가 존재하는 것을 확인했습니다.

test 데이터셋에는 몇 개의 피처(feature)가 있으며, 어떤 피처들이 포함되어 있는지 확인해 보세요.  
아래 빈칸을 채워보세요.

In [ ]:
test.___

Index(['title', 'distributor', 'genre', 'release_time', 'time',
       'screening_rat', 'director', 'dir_prev_bfnum', 'dir_prev_num',
       'num_staff', 'num_actor'],
      dtype='object')

In [ ]:
#checkcode
ensure_vals(globals(),'test')
@check_safety
def check(user_answer=_, user_train=train):

    c_point0 = (len(user_answer) == 11)

    if c_point0 :
        return True
    else:
        return False
check()

True

# 4. train 데이터의 `num_actor` 열(column) 데이터 타입(data type) 확인하기

[문제 4]    
`dtype` 함수를 이용해서 `num_actor` 열(column)이 어떤 데이터 타입(data type)으로 이루어져 있는지 출력해 보세요.

In [ ]:
train['num_actor'].___

dtype('int64')

In [ ]:
#checkcode
ensure_vals(globals(),'_','train')
@check_safety
def check(user_answer=_,user_answer_train=train):
    c_point0 = user_answer == user_answer_train['num_actor'].dtype
    if c_point0:
        return True
    else:
        return False
check()

# 5. train 데이터의 `dir_prev_bfnum` 열(column) 데이터 타입(data type) 확인하기

[문제 5]  
`dir_prev_bfnum` 열(column)이 어떤 데이터 타입(data type)으로 이루어져 있는지 출력해 보세요.

In [ ]:
train['___'].___

dtype('float64')

In [ ]:
#checkcode
ensure_vals(globals(),'_','train')
@check_safety
def check(user_answer=_,user_answer_train=train):
    c_point0 = user_answer == user_answer_train['dir_prev_bfnum'].dtype
    if c_point0:
        return True
    else:
        return False
check()

True

# 6. train 데이터 기술 통계량(descriptive statistics) 확인하기

[문제 6]  
`describe()` 메소드를 이용해서 train 데이터셋의 기술 통계량을 확인해 보세요.

In [ ]:
train.___()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
count,600.000000,2.700000e+02,600.000000,600.000000,600.000000,6.000000e+02
mean,100.863333,1.050443e+06,0.876667,151.118333,3.706667,7.081818e+05
std,18.097528,1.791408e+06,1.183409,165.654671,2.446889,1.828006e+06
min,45.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
25%,89.000000,2.038000e+04,0.000000,17.000000,2.000000,1.297250e+03
50%,100.000000,4.784236e+05,0.000000,82.500000,3.000000,1.259100e+04
75%,114.000000,1.286569e+06,2.000000,264.000000,4.000000,4.798868e+05
max,180.000000,1.761531e+07,5.000000,869.000000,25.000000,1.426277e+07

In [ ]:
#checkcode
ensure_vals(globals(), 'train')
@check_safety
def check(user_answer=_):
    
    c_point0 = _.shape == (8,6)

    if c_point0 :
        return True
    else:
        return False

check()