In [ ]:
#hiddencell
from pbl_tools import *

# 스테이지 4

# 1. pandas를 이용해 csv 파일 읽어오기
[문제 1]    
Pandas 라이브러리(library)를 가져와보세요.     
그리고 train.csv, test.csv, sample_submission.csv   파일을 각각 train, test, submission 변수로 읽어오세요.      
아래 빈칸을 채워주세요.

In [ ]:
import ___ as pd

train = pd.___('train.csv')
test = pd.___('test.csv')
submission = pd.___('sample_submission.csv')

In [ ]:
#checkcode
ensure_vals(globals(), 'train', 'test', 'submission')
@check_safety
def check(
          user_answer_train=train,
          user_answer_test=test, 
          user_answer_submission=submission
          ):
    
    c_point0 = hasattr(user_answer_train, 'tail')
    c_point1 = hasattr(user_answer_test, 'tail')
    c_point2 = hasattr(user_answer_submission, 'tail')

    if c_point0 and c_point1 and c_point2 :
        return True
    else:
        return False

check()

True

# 2. train 데이터 결측치 확인하기(isna) 

[문제 2]     
`isna()` 메소드를 이용해서 train 데이터셋의 결측치를 확인해 보세요.

In [ ]:
train.___()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
595,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,False,False,False,False,True,False,False,False,False
598,False,False,False,False,False,False,False,True,False,False,False,False
599,False,False,False,False,False,False,False,True,False,False,False,False

In [ ]:
#checkcode
ensure_vals(globals(),'_')
@check_safety
def check(user_answer=_,column='dir_prev_bfnum'):
    c_point0 = user_answer[column][0] == 1
    if c_point0:
        return True
    else:
        return False
check()

# 3. train 데이터 결측치 확인하기 (isnull)
[문제 3]     
`isnull()` 메소드를 이용해서 train 데이터셋의 결측치를 확인해 보세요.

In [ ]:
train.___()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
595,False,False,False,False,False,False,False,False,False,False,False,False
596,False,False,False,False,False,False,False,False,False,False,False,False
597,False,False,False,False,False,False,False,True,False,False,False,False
598,False,False,False,False,False,False,False,True,False,False,False,False
599,False,False,False,False,False,False,False,True,False,False,False,False

In [ ]:
#checkcode
ensure_vals(globals(),'_')
@check_safety
def check(user_answer=_,column='dir_prev_bfnum'):
    c_point0 = user_answer[column][0] == 1
    if c_point0:
        return True
    else:
        return False
check()

# 4. train 데이터 결측치 확인하기 (notnull)

[문제 4]  
`notnull()` 함수를 활용하여 결측치가 아닌 경우 True의 값을 반환하고,   
결측치인 경우 False의 값을 반환하도록 코드를 작성해 보세요.  
아래 빈칸을 채워주세요.

In [ ]:
train.___()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,True,True,True,True,True,True,True,False,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
595,True,True,True,True,True,True,True,True,True,True,True,True
596,True,True,True,True,True,True,True,True,True,True,True,True
597,True,True,True,True,True,True,True,False,True,True,True,True
598,True,True,True,True,True,True,True,False,True,True,True,True
599,True,True,True,True,True,True,True,False,True,True,True,True

In [ ]:
#checkcode
def check(user_answer=_):
    train_check = pd.read_csv('train.csv')
    train_check = train.notnull()
    
    if (user_answer == train_check).all().all():
        return True
    else:
        return False
check()

True

# 5. 피처(feature)별 결측치 개수 확인

[문제 5]  
`isnull().sum()` 메소드를 사용하여 pandas 데이터프레임에서 **결측값(missing value)의 개수**를 확인해보세요.

In [ ]:
train.___().___()

title               0
distributor         0
genre               0
release_time        0
time                0
screening_rat       0
director            0
dir_prev_bfnum    330
dir_prev_num        0
num_staff           0
num_actor           0
box_off_num         0
dtype: int64

In [ ]:
#checkcode
ensure_vals(globals())
@check_safety
def check(user_answer='_'):
    check_train = pd.read_csv('train.csv')
    check_train = check_train.notnull().sum().sum()
    
    c_point0 = (sum(_) == check_train).all
    if c_point0:
        return True
    else:
        return False
check()

# 6. train 데이터의 결측치가 아닌 값의 개수 확인

[문제 6]  
각 피처(feature)별 결측치가 **아닌** 데이터의 개수를 구해 보세요.  
아래 빈칸을 채워보세요.

In [ ]:
train.___().___()

title             600
distributor       600
genre             600
release_time      600
time              600
screening_rat     600
director          600
dir_prev_bfnum    270
dir_prev_num      600
num_staff         600
num_actor         600
box_off_num       600
dtype: int64

In [ ]:
#checkcode
ensure_vals(globals())
@check_safety
def check(user_answer='_'):
    check_train = pd.read_csv('train.csv')
    check_train = check_train.notnull().sum().sum()
    
    c_point0 = (sum(_) == check_train).all
    if c_point0:
        return True
    else:
        return False
check()

True

# 7. 데이터프레임(DataFrame) 정보 출력하기

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 600 entries, 0 to 599

Data columns (total 12 columns):

 #   Column          Non-Null Count  Dtype

---  ------          --------------  -----

 0   title           600 non-null    object

 1   distributor     600 non-null    object

 2   genre           600 non-null    object

 3   release_time    600 non-null    object

 4   time            600 non-null    int64

 5   screening_rat   600 non-null    object

 6   director        600 non-null    object

 7   dir_prev_bfnum  270 non-null    float64

 8   dir_prev_num    600 non-null    int64

 9   num_staff       600 non-null    int64

 10  num_actor       600 non-null    int64

 11  box_off_num     600 non-null    int64

dtypes: float64(1), int64(5), object(6)

memory usage: 56.4+ KB