In [ ]:
#hiddencell
%pip install statsmodels

from pbl_tools import *

import os 
file_path = 'submission.csv'
if os.path.exists(file_path): 
    os.remove(file_path)

# 스테이지 7

# 1. pandas를 이용해 csv 파일 읽어오기
[문제 1]    
Pandas 라이브러리(library)를 가져와보세요.     
그리고 train.csv, test.csv, sample_submission.csv   파일을 각각 train, test, submission 변수로 읽어오세요.      
아래 빈칸을 채워주세요.

In [ ]:
import ___ as pd

train = pd.___('train.csv')
test = pd.___('test.csv')
submission = pd.___('sample_submission.csv')

In [ ]:
#checkcode
ensure_vals(globals(), 'train', 'test', 'submission')
@check_safety
def check(
          user_answer_train=train,
          user_answer_test=test, 
          user_answer_submission=submission
          ):
    
    c_point0 = hasattr(user_answer_train, 'tail')
    c_point1 = hasattr(user_answer_test, 'tail')
    c_point2 = hasattr(user_answer_submission, 'tail')

    if c_point0 and c_point1 and c_point2 :
        return True
    else:
        return False

check()

True

# 2. 결측치를 0으로 채운 train_fill 데이터셋 생성하기
[문제 2]  
train 데이터셋에 있는 결측값을 0으로 채우고, 이를 train_fill 변수에 저장해 보세요.   
아래 빈칸을 채워 주세요.

In [ ]:
train_fill = ___.___(___)  
test_fill = test.fillna(0)
train_fill

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1.161602e+06,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,2.207752e+05,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,2.389400e+04,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.000000e+00,1,251,2,483387
5,강철대오 : 구국의 철가방,롯데엔터테인먼트,코미디,2012-10-25,113,15세 관람가,육상효,8.379690e+05,2,262,4,233211
...,...,...,...,...,...,...,...,...,...,...,...,...
587,서유기 리턴즈,(주) 영화사조제,SF,2011-02-17,79,전체 관람가,신재호,6.760200e+04,1,220,4,12696
588,하울링,CJ 엔터테인먼트,느와르,2012-02-16,114,15세 관람가,유하,2.061297e+06,3,288,2,1612554
592,차이나타운,CGV아트하우스,느와르,2015-04-29,110,청소년 관람불가,한준희,5.974970e+05,3,420,3,1472147
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3.833000e+03,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,4.960610e+05,1,286,6,1716438

In [ ]:
#checkcode
ensure_vals(globals(),'train_fill')
@check_safety
def check(user_answer=_):
    c_point0 = _.shape == (600,12)
    if c_point0:
        return True
    else:
        return False
check()

True

# 3. 회귀분석을 위한 표현식(Formula) 작성하기
  
모델링을 하기에 앞서, 종속변수와 독립변수를 설정하겠습니다.

In [ ]:
formula = """
box_off_num ~ (time) + (dir_prev_bfnum) + (dir_prev_num) + (num_staff) + (num_actor)
"""

# 4. 영화 관객 수 회귀분석 모델 정의 및 학습하기

[문제 3]  
statsmodels 라이브러리(Library)를 활용하여 회귀분석 모델을 생성하고 학습 해봅시다.

In [ ]:
import statsmodels.api as sm

model = sm.OLS.___(___, data = ___)
model = model.___()
model.summary()

In [ ]:
#checkcode
ensure_vals(globals(),'model')
@check_safety
def check(user_answer=model):
    if (str(type(user_answer)) == "<class 'statsmodels.regression.linear_model.RegressionResultsWrapper'>"):
        return True
    else:
        return False
check()

True

# 5. 영화 관객 수 모델 예측 결과 확인하기

[문제 4]  
학습된 회귀분석 모델을 사용하여 test 데이터셋에 대한 예측값을 생성해 보세요.   
아래 빈칸을 채워 주세요.

In [ ]:
predict = model.___(___)
predict.head()

In [ ]:
#checkcode
ensure_vals(globals(),'predict','test_fill')
@check_safety
def check(user_predict=predict, user_test_fill=test_fill):
    if len(predict) == len(test_fill):
        return True
    else:
        return False
check()

True

# 6. 예측된 영화 관객 수를 submission 파일에 추가하기

[문제 5]  
예측된 영화 관객 수를 submission 데이터프레임(DataFrame)의 box_off_num 열(column)에 저장해 보세요.  
아래 빈칸을 채워 주세요.

In [ ]:
submission['___'] = ___
submission.head()

         title   box_off_num
0       용서는 없다  1.852245e+06
1  아빠가 여자를 좋아해  1.432174e+06
2          하모니  2.838555e+06
3          의형제  1.864857e+06
4        평행 이론  1.369221e+06

In [ ]:
#checkcode
ensure_vals(globals(),'submission')
@check_safety
def check(
    user_answer=_,
    number= (5,2)
    ):
    
    c_point0 = user_answer.shape ==number
    if c_point0:
        return True
    else:
        return False
check()

True

# 7. 데이터프레임(DataFrame)을 CSV 파일로 저장하기
[문제 6]  
파일을 제출하기 위해서는 저장을 해야 합니다.  
submission 데이터프레임을 `submission.csv`라는 파일로 저장해 보세요.    
아래 빈칸을 채워주세요.

In [ ]:
# 매개변수는 수정하지 말아주세요.
submission.___('submission.csv', index=False, quoting=2, encoding="utf-8-sig", na_rep=0, float_format='%.6f')

In [ ]:
#checkcode
ensure_vals(globals(),'submission','test')
@check_safety
def check():
    check_submission = pd.read_csv('submission.csv')
    
    if len(check_submission) == len(test):
        return True
    else:
        return False
check()

True