In [1]:
#hiddencell
import pandas as pd 
from pbl_tools import *

# 스테이지 2. 데이터 분석 및 기초 통계량 확인
## 도입
스테이지 2에서는 데이터 분석의 핵심 단계인 기초 통계량 확인에 대해 배웁니다. 이러한 단계는 데이터를 깊이 있게 이해하고 문제 해결에 도움을 주는 중요한 과정입니다.

데이터 분석의 목표는 데이터의 패턴과 특성을 파악하는 것이며, 이를 통해 더 나은 인사이트를 얻고 예측 작업을 진행합니다.

## 학습 목표
- 데이터프레임의 칼럼 이름을 확인하고, 각 변수의 역할을 이해합니다.
- 데이터의 수치형 변수에 대한 기술 통계량을 계산하고 분석합니다. 이를 통해 데이터의 분포와 중요한 통계적 특성을 이해합니다.
- 범주형 변수의 빈도와 다양성을 확인하여 범주형 데이터의 특성을 파악합니다.
- 전처리가 완료된 데이터프레임을 csv 파일로 저장하는 방법에 대해 배웁니다.

# 1. pandas를 이용해 csv 파일 읽어오기
[문제 1]  
`Pandas` 라이브러리(library)를 가져와보세요.  
그리고 `train.csv`, `test.csv`, `sample_submission.csv` 파일을 각각 train, test, submission 변수로 읽어오세요.  
아래 빈칸을 채워주세요.

In [79]:
import pandas as pd

train = pd.___('train.csv')
test = pd.___('test.csv')
submission = ___.___(___)

In [4]:
#checkcode
ensure_vals(globals(), 'train', 'test', 'submission')
@check_safety
def check(
    user_train: pd.DataFrame,
    user_test: pd.DataFrame,
    user_submission: pd.DataFrame
):
    c_point1 = hasattr(user_train, 'tail')
    c_point2 = hasattr(user_test, 'tail')
    c_point3 = hasattr(user_submission, 'tail')

    if c_point1 and c_point2 and c_point3:
        return True
    else:
        return False

check(train, test, submission)

True

# 2. 데이터프레임(DataFrame)정보 출력하기
`info()`함수를 이용해 데이터프레임의 요약 정보를 확인해 봅시다.

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 4440 entries, 0 to 4439

Data columns (total 16 columns):

 #   Column          Non-Null Count  Dtype

---  ------          --------------  -----

 0   ID              4440 non-null   object

 1   age             4440 non-null   int64

 2   workclass       3977 non-null   object

 3   fnlwgt          4440 non-null   int64

 4   education       4440 non-null   object

 5   education.num   4440 non-null   int64

 6   marital.status  4440 non-null   object

 7   occupation      3972 non-null   object

 8   relationship    4440 non-null   object

 9   race            4440 non-null   object

 10  sex             4440 non-null   object

 11  capital.gain    4440 non-null   int64

 12  capital.loss    4440 non-null   int64

 13  hours.per.week  4440 non-null   int64

 14  native.country  4293 non-null   object

 15  target          4440 non-null   int64

dtypes: int64(7), object(9)

memory usage: 399.0+ KB

# 3. 데이터프레임(DataFrame)의 칼럼(column) 이름 확인하기
[문제 2]  
`columns` 함수를 이용하여 train 데이터셋의 `열(Columns)의 목록`을 확인해 보세요.

In [102]:
train.___

Index(['ID', 'age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'target'],
      dtype='object')

In [7]:
#checkcode
ensure_vals(globals())
@check_safety
def check(
    user_answer:list,
    number:int
):
    c_point0 = (len(user_answer) == number)
    if c_point0:
        return True
    else:
        return False
check(_,16)

True

# 4. 데이터프레임(DataFrame)의 수치형 변수들에 대한 기술 통계량(descriptive statistics) 출력하기
[문제 3]  
`describe()`함수를 사용해 `수치형` 데이터의 통계값을 확인해 봅시다.

In [122]:
train.___()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,target
count,4440.000000,4.440000e+03,4440.000000,4440.000000,4440.000000,4440.000000,4440.000000
mean,38.779279,1.923122e+05,9.985360,1223.965090,69.511261,39.837387,0.240315
std,14.011257,1.088622e+05,2.580624,8257.227782,357.876753,12.760011,0.427323
min,17.000000,1.882700e+04,1.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,1.198022e+05,9.000000,0.000000,0.000000,38.000000,0.000000
50%,37.000000,1.798670e+05,10.000000,0.000000,0.000000,40.000000,0.000000
75%,48.000000,2.402272e+05,12.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,1.455435e+06,16.000000,99999.000000,2603.000000,99.000000,1.000000

In [9]:
#checkcode
ensure_vals(globals(), 'train')
@check_safety
def check(
    user_answer:pd.DataFrame,
    train_shape:tuple
):
    c_point1 = user_answer.shape == train_shape
    
    if c_point1:
        return True
    else:
        return False
    
check(_, (8,7))

True

# 5. 데이터프레임(DataFrame)의 범주형 변수들에 대한 기술 통계량(descriptive statistics) 출력하기
[문제 4]  
- 예측에는 필요하지 않은 `ID` 피처(feature)를 제거해보세요. `drop` 함수는 데이터프레임에서 특정 열을 삭제할 때 사용됩니다.   
여기서 `axis=1` 매개변수는 `열`을 삭제하도록 지정합니다.   
따라서 'ID' 열은 삭제된 데이터프레임(train_drop)에 포함되지 않게 됩니다.
- `describe()` 함수를 활용하여 `범주형 데이터`의 통계적 정보를 확인해보세요.   
`include` 매개변수에 `object`를 할당하면 범주형 데이터의 통계를 살펴볼 수 있습니다.

In [105]:
train_drop = train.drop(['___'],axis = ___) 
train_drop.___(include=['___'])

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
count,3977,4440,4440,3972,4440,4440,4440,4293
unique,8,16,7,13,6,5,2,40
top,Private,HS-grad,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States
freq,2962,1452,2063,543,1790,3761,2975,3928

In [11]:
#checkcode
ensure_vals(globals(), 'train_drop')
@check_safety
def check(
    user_answer:pd.DataFrame,
    train_shape:tuple
):
    c_point1 = user_answer.shape == train_shape
    
    if c_point1:
        return True
    else:
        return False
    
check(_, (4,8))

True

# 6. submission 데이터의 하위 10개의 행(row) 데이터 출력하기
[문제 5]  
하위 10개의 행(row) 데이터를 출력해 보세요.

In [134]:
submission.___(___)

            ID  target
484  TEST_0484   False
485  TEST_0485   False
486  TEST_0486   False
487  TEST_0487   False
488  TEST_0488   False
489  TEST_0489   False
490  TEST_0490   False
491  TEST_0491   False
492  TEST_0492   False
493  TEST_0493   False

In [13]:
#checkcode
ensure_vals(globals(), 'submission')
@check_safety
def check(
    user_answer:pd.DataFrame,
    submission_shape:tuple
):
    c_point1 = user_answer.shape == submission_shape
    
    if c_point1:
        return True
    else:
        return False
    
check(_, (10,2))

True

# 7. target의 최빈값(mode) 추출

데이터프레임(train)에서 `target` 빈도수가 가장 높은 값을 출력해보겠습니다.

[문제 6]  
`mode()` 메서드를 이용하여 특정한 열(column)의 `최빈값`을 가져와서 출력해 보세요.

In [151]:
mode_target = train['target'].___()[0]
mode_target

0

In [32]:
#checkcode
ensure_vals(globals(),'mode_target')
@check_safety
def check(
    user_answer:int,
    num:int
):
    c_point0 = user_answer == num
    
    if c_point0:
        return True
    else:
        return False
    
check(mode_target,0)

True

# 8. target의 최빈값으로 submission 데이터 채우기

target 열의 최빈값인 0을 사용하여 submission 파일을 작성한 후, 이를 제출해보겠습니다.

[문제 7]  
submission 데이터의 target 피처(feature)에 `mode_target` 값을 할당해 보세요.

In [165]:
submission['___'] = ___
submission.head()

          ID  target
0  TEST_0000       0
1  TEST_0001       0
2  TEST_0002       0
3  TEST_0003       0
4  TEST_0004       0

In [34]:
#checkcode
ensure_vals(globals(),'submission')
@check_safety
def check(
    user_answer:int,
    user_col:int,
    num:int
):
    c_point0 = (user_answer[user_col]).sum() == num
    if c_point0:
        return True
    else:
        return False
check(_,'target',0)

True

# 9.데이터프레임(DataFrame)을 CSV 파일로 저장하기
[문제 8]  
값이 할당된 submission 데이터를 submission.csv 파일로 저장해 보세요.

In [37]:
submission.___('submission.csv', index=False)

In [39]:
#checkcode
ensure_vals(globals(), 'submission')
@check_safety
def check(
    user_answer
):
    answer = pd.read_csv('submission.csv')

    sub_medv = user_answer['target'].apply(lambda x: int(x * 100))
    ans_medv = answer['target'].apply(lambda x: int(x * 100))

    c_point0 = (sub_medv == ans_medv).all()
    if c_point0:
        return True
    else:
        return False

check(submission)

True